*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
}
.heading{
    text-align: center;
    margin: 15px 0px;
}
.heroSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 40px;
    gap: 40px;
}
.heroSection .heroContent{
    width: 50%;
    line-height: 1.3;
}
.heroSection .heroContent p{
    margin-bottom: 10px;
    font-size: 16px;
}
.heroSection .heroImage{
    min-width: 40%;
    height: auto;
    width : 400px;
    object-fit: fill;
}
.heroSection .heroImage img{
    width: 100%;
    border-radius: 0.5rem;
}

@media (min-width: 600px) and (max-width: 900px) {
    .heroSection {
        flex-direction: column;
    }
    .heroSection .heroContent{
        width: 90%;
    }
    .heroSection .heroContent p{
        font-size: 15px;
    }
    .heroSection .heroImage{
        width: 500px;
    }
}

@media (max-width:600px){
    .heroSection {
        flex-direction: column-reverse;
    }
    .heroSection .heroContent{
        width: 90%;
    }
    .heroSection .heroImage{
        width: 200px;
        min-width: 90%;
    }
    .heroSection .heroContent p{
        font-size: 14px;
    }
}